USE [master]
GO
/****** Object:  Database [HotelManagementDB]    Script Date: 9/4/2025 3:53:25 PM ******/
CREATE DATABASE [HotelManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\HotelManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagementDB]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [nvarchar](255) NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[EndTime] [datetime2](7) NOT NULL,
	[TotalCost] [decimal](10, 2) NOT NULL,
	[RoomId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NOT NULL,
	[RoomTypeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[PricePerHour] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomTypes] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_CancelBooking]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CancelBooking]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @StartTime DATETIME2;
    DECLARE @TotalCost DECIMAL(10, 2);
    DECLARE @HoursUntilStart INT;
    DECLARE @RefundPercentage DECIMAL(5, 2) = 0.00; -- Default to 0% refund

    -- 1. Find the booking and its total cost
    SELECT 
        @StartTime = StartTime,
        @TotalCost = TotalCost
    FROM Bookings
    WHERE Id = @Id;

    -- 2. If the booking exists, proceed
    IF @StartTime IS NOT NULL
    BEGIN
        -- Calculate hours until the start time
        SET @HoursUntilStart = DATEDIFF(hour, GETUTCDATE(), @StartTime);

        -- 3. Determine refund percentage based on the rules
        IF @HoursUntilStart > 48
        BEGIN
            SET @RefundPercentage = 1.00; -- 100% refund
        END
        ELSE IF @HoursUntilStart BETWEEN 24 AND 48
        BEGIN
            SET @RefundPercentage = 0.50; -- 50% refund
        END
        
        -- 4. Delete the booking from the table
        DELETE FROM Bookings WHERE Id = @Id;

        -- 5. Return the calculated refund amount
        SELECT @TotalCost * @RefundPercentage AS RefundAmount;
    END
    ELSE
    BEGIN
        -- If booking doesn't exist, return NULL
        SELECT NULL AS RefundAmount;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateBooking]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateBooking]
    @UserEmail NVARCHAR(255),
    @RoomId INT,
    @StartTime DATETIME2,
    @EndTime DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    -- NEW: Check if the start time is in the past
    IF @StartTime < GETUTCDATE()
    BEGIN
        -- Return a specific code for a past date error
        SELECT -1;
        RETURN;
    END

    -- 1. Check for overlapping bookings (no changes here)
    IF NOT EXISTS (
        SELECT 1
        FROM Bookings
        WHERE RoomId = @RoomId
          AND @StartTime < EndTime
          AND @EndTime > StartTime
    )
    BEGIN
        -- ... (rest of the procedure is the same)
        DECLARE @PricePerHour DECIMAL(10, 2);
        SELECT @PricePerHour = rt.PricePerHour
        FROM Rooms r
        JOIN RoomTypes rt ON r.RoomTypeId = rt.Id
        WHERE r.Id = @RoomId;

        DECLARE @DurationInHours DECIMAL(10, 2) = DATEDIFF(minute, @StartTime, @EndTime) / 60.0;
        DECLARE @TotalCost DECIMAL(10, 2) = @DurationInHours * @PricePerHour;

        INSERT INTO Bookings (UserEmail, RoomId, StartTime, EndTime, TotalCost)
        VALUES (@UserEmail, @RoomId, @StartTime, @EndTime, @TotalCost);

        SELECT SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- Return 0 for an overlap failure
        SELECT 0;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllBookingsWithDetails]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllBookingsWithDetails]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        -- Booking Details
        b.Id, b.UserEmail, b.StartTime, b.EndTime, b.TotalCost, b.RoomId,
        -- Room Details (starts here)
        r.Id, r.RoomNumber, r.RoomTypeId,
        -- RoomType Details (starts here)
        rt.Id, rt.TypeName, rt.PricePerHour
    FROM Bookings b
    JOIN Rooms r ON b.RoomId = r.Id
    JOIN RoomTypes rt ON r.RoomTypeId = rt.Id
    ORDER BY b.StartTime DESC; -- Show the most recent bookings first
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRoomsWithDetails]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Alter the procedure to define its logic
CREATE PROCEDURE [dbo].[sp_GetAllRoomsWithDetails]
AS
BEGIN
    SET NOCOUNT ON;

    -- This is the same query we used before, now inside a procedure
    SELECT 
        r.Id, 
        r.RoomNumber, 
        r.RoomTypeId, 
        rt.Id, 
        rt.TypeName, 
        rt.PricePerHour 
    FROM Rooms r
    JOIN RoomTypes rt ON r.RoomTypeId = rt.Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingById]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBookingById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        b.Id, b.UserEmail, b.StartTime, b.EndTime, b.TotalCost, b.RoomId,
        r.Id, r.RoomNumber, r.RoomTypeId,
        rt.Id, rt.TypeName, rt.PricePerHour
    FROM Bookings b
    JOIN Rooms r ON b.RoomId = r.Id
    JOIN RoomTypes rt ON r.RoomTypeId = rt.Id
    WHERE b.Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBookingsFiltered]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetBookingsFiltered]
    @RoomId INT = NULL,
    @RoomTypeId INT = NULL,
    @StartDate DATETIME2 = NULL,
    @EndDate DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        b.Id, b.UserEmail, b.StartTime, b.EndTime, b.TotalCost, b.RoomId,
        r.Id, r.RoomNumber, r.RoomTypeId,
        rt.Id, rt.TypeName, rt.PricePerHour
    FROM
        dbo.Bookings b
    JOIN
        dbo.Rooms r ON b.RoomId = r.Id
    JOIN
        dbo.RoomTypes rt ON r.RoomTypeId = rt.Id
    WHERE
        (@RoomId IS NULL OR b.RoomId = @RoomId)
        AND (@RoomTypeId IS NULL OR r.RoomTypeId = @RoomTypeId)
        -- This checks for any booking that overlaps with the provided date range
        AND (@StartDate IS NULL OR b.EndTime > @StartDate)
        AND (@EndDate IS NULL OR b.StartTime < @EndDate)
    ORDER BY
        b.StartTime DESC; -- Order by most recent
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBooking]    Script Date: 9/4/2025 3:53:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateBooking]
    @Id INT,
    @UserEmail NVARCHAR(255),
    @RoomId INT,
    @StartTime DATETIME2,
    @EndTime DATETIME2
AS
BEGIN
    SET NOCOUNT ON;

    -- Check for overlaps, excluding the current booking (Id != @Id)
    IF NOT EXISTS (
        SELECT 1
        FROM Bookings
        WHERE RoomId = @RoomId
          AND Id != @Id -- The crucial part for an update
          AND @StartTime < EndTime
          AND @EndTime > StartTime
    )
    BEGIN
        -- If no overlaps, recalculate the cost
        DECLARE @PricePerHour DECIMAL(10, 2);
        SELECT @PricePerHour = rt.PricePerHour FROM Rooms r JOIN RoomTypes rt ON r.RoomTypeId = rt.Id WHERE r.Id = @RoomId;

        DECLARE @DurationInHours DECIMAL(10, 2) = DATEDIFF(minute, @StartTime, @EndTime) / 60.0;
        DECLARE @TotalCost DECIMAL(10, 2) = @DurationInHours * @PricePerHour;

        -- Update the booking record
        UPDATE Bookings
        SET UserEmail = @UserEmail,
            RoomId = @RoomId,
            StartTime = @StartTime,
            EndTime = @EndTime,
            TotalCost = @TotalCost
        WHERE Id = @Id;

        SELECT 1; -- Return 1 for success
    END
    ELSE
    BEGIN
        SELECT 0; -- Return 0 for conflict/failure
    END
END
GO
USE [master]
GO
